<a href="https://colab.research.google.com/github/jhonvifu/Talento_tech/blob/main/Laboratorio1_TalentoTech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Laboratorio # 1

### Temas: Limpieza de Datos, análisis de negocio, integración de fuentes de datos

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# 1. El problema del negocio

Una entidad bancaria contrata a una empresa de marketing encargada de contactar telefónicamente a posibles clientes para determinar si están interesados o no en adquirir un certificado de depósito a término con el banco.

¿Qué perfil tienen los clientes con mayor potencial de conversión?

#2. El set de datos

La información recolectada por la empresa de mercadeo se encuentra en un archivo CSV (`dataset_banco.csv`) con 45215 filas y 17 columnas.

Cada registro contiene 16 características (las primeras 16 columnas) y una categoría ("yes" o "no" dependiendo de si la persona está o no interesada en adquirir el producto). Las columnas son:

1. "age":  edad (numérica)
2. "job": tipo de trabajo (categórica: "admin.", "unknown", "unemployed", "management", "housemaid", "entrepreneur", "student", "blue-collar","self-employed", "retired", "technician", "services")
3. "marital": estado civil (categórica: "married", "divorced", "single")
4. "education": nivel educativo (categórica: "unknown", "secondary", "primary", "tertiary")
5. "default": si dejó de pagar sus obligaciones (categórica: "yes", "no")
6. "balance": saldo promedio anual de ingresos en euros (numérica)
7. "housing": ¿tiene o no crédito hipotecario? (categórica: "yes", "no")
8. "loan": ¿tiene créditos de consumo? (categórica: "yes", "no")
9. "contact": medio a través del cual fue contactado (categórica: "unknown", "telephone", "cellular")
10. "day": último día del mes en el que fue contactada (numérica)
11. "month": último mes en el que fue contactada (categórica: "jan", "feb", "mar", ..., "nov", "dec")
12. "duration": duración (en segundos) del último contacto (numérica)
13. "campaign": número total de veces que fue contactada durante la campaña (numérica)
14. "pdays": número de días transcurridos después de haber sido contactado antes de la campaña actual (numérica. -1 indica que no fue contactado previamente)
15. "previous": número de veces que ha sido contactada antes de esta campaña (numérica)
16. "poutcome": resultado de la campaña de marketing anterior (categórica: "unknown", "other", "failure", "success")
17. "y": categoría ¿el cliente se suscribió a un depósito a término? (categórica: "yes", "no")

#3. Una primera mirada al dataset

In [3]:
# Importar librerías
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Lectura
from google.colab import drive
drive.mount('/content/drive')

# ruta = "/content/drive/MyDrive/ESCRIBE LA RUTA DE TU ARCHIVO CSV"
# data = pd.read_csv(ruta)

Mounted at /content/drive

In [ ]:
#proporciona visualización y exploración de datos con el dataset cargado

In [5]:
data = pd.read_csv('/content/dataset_banco.csv')

# **Visualización y Exploración de Datos:**


*   data.head(): Muestra las primeras filas del DataFrame.
*   data.tail(): Muestra las últimas filas del DataFrame.
*   data.info(): Muestra información sobre el DataFrame, incluyendo tipos de datos y valores no nulos.
*   data.describe(): Proporciona estadísticas descriptivas para columnas numéricas.
*   data.shape: Devuelve una tupla con la cantidad de filas y columnas del DataFrame.
*   data.columns: Devuelve una lista con los nombres de las columnas del DataFrame.

## Transformación de nombres de atributos

In [6]:
#cambia los nombres de las columnas del dataframe
# Renombramos las columnas
data = data.rename(columns={
                                  'age':        'edad',
                                  'job':        'trabajo',
                                  'marital':    'estado_civil',
                                  'education':  'educacion',
                                  'default':    'morosidad',
                                  'balance':    'saldo',
                                  'housing':    'vivienda',
                                  'loan':       'prestamo',
                                  'contact':    'contacto',
                                  'day':        'dia',
                                  'month':      'mes',
                                  'duration':   'duracion',
                                  'campaign':   'campana',
                                  'pdays':      'dias_previos',
                                  'previous':   'anterior',
                                  'poutcome':   'resultado',
                                  'y':          'respuesta'})

# Verificamos los cambios
print(data.head())

   edad       trabajo estado_civil  educacion morosidad   saldo vivienda  \
0    58    management      married   tertiary        no  2143.0      yes
1    44    technician       single  secondary        no    29.0      yes
2    33  entrepreneur      married  secondary        no     2.0      yes
3    47   blue-collar      married    unknown        no  1506.0      yes
4    33       unknown       single    unknown        no     1.0       no

  prestamo contacto  dia  mes  duracion  campana  dias_previos  anterior  \
0       no  unknown    5  may     261.0        1          -1.0         0
1       no  unknown    5  may     151.0        1          -1.0         0
2      yes  unknown    5  may      76.0        1          -1.0         0
3       no  unknown    5  may      92.0        1          -1.0         0
4       no  unknown    5  may     198.0        1          -1.0         0

  resultado respuesta
0   unknown        no
1   unknown        no
2   unknown        no
3   unknown        no
4   unknown        no

In [7]:
data.head(50)

,edad,trabajo,estado_civil,educacion,morosidad,saldo,vivienda,prestamo,contacto,dia,mes,duracion,campana,dias_previos,anterior,resultado,respuesta
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261.0,1,-1.0,0,unknown,no
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151.0,1,-1.0,0,unknown,no
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76.0,1,-1.0,0,unknown,no
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1,-1.0,0,unknown,no
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198.0,1,-1.0,0,unknown,no
5,35,management,married,tertiary,no,231.0,yes,no,unknown,5,may,139.0,1,-1.0,0,unknown,no
6,28,Management,single,tertiary,no,447.0,yes,yes,unknown,5,may,217.0,1,-1.0,0,unknown,no
7,42,entrepreneur,div.,tertiary,yes,2.0,yes,no,unknown,5,may,380.0,1,-1.0,0,unknown,no
8,58,retired,married,primary,no,121.0,yes,no,unknown,5,may,50.0,1,-1.0,0,unknown,no
9,43,technician,single,secondary,no,593.0,yes,No,unknown,5,may,55.0,1,-1.0,0,unknown,no
10,41,admin.,div.,secondary,no,270.0,yes,no,unknown,5,may,222.0,1,-1.0,0,unknown,no
11,29,admin.,single,secondary,no,390.0,yes,no,unknown,5,may,137.0,1,-1.0,0,UNK,no
12,53,technician,married,secondary,no,6.0,yes,no,unknown,5,may,-517.0,1,-1.0,0,unknown,no
13,58,technician,married,unknown,no,71.0,yes,no,unknown,5,may,71.0,1,-1.0,0,unknown,no
14,57,services,married,secondary,no,162.0,yes,No,unknown,5,may,174.0,1,-1.0,0,unknown,no
15,51,retired,married,primary,no,229.0,yes,no,unknown,5,may,353.0,1,-1.0,0,unknown,no
16,45,admin.,single,unknown,no,13.0,yes,no,unknown,5,may,98.0,1,-1.0,0,unknown,no
17,57,blue-collar,married,primary,no,52.0,yes,no,unknown,5,may,38.0,1,-1.0,0,unknown,no
18,60,retired,married,primary,no,60.0,yes,no,unknown,5,may,219.0,1,-1.0,0,unknown,no
19,33,services,married,secondary,no,0.0,yes,no,unknown,5,may,54.0,1,-1.0,0,unknown,no
20,28,blue-collar,married,secondary,no,723.0,yes,yes,unknown,5,may,262.0,1,-1.0,0,unknown,no
21,56,management,married,tertiary,no,779.0,yes,no,unknown,5,may,164.0,1,-1.0,0,unknown,no
22,32,blue-collar,single,primary,no,23.0,yes,yes,unknown,5,may,160.0,1,-1.0,0,unknown,no
23,25,services,married,secondary,no,50.0,yes,no,unknown,5,may,342.0,1,-1.0,0,unknown,no
24,40,retired,married,primary,no,0.0,yes,yes,unknown,5,may,181.0,1,-1.0,0,unknown,no
25,44,admin.,married,secondary,no,-372.0,yes,no,unknown,5,may,172.0,1,-1.0,0,unknown,no
26,39,management,single,tertiary,no,255.0,yes,no,unknown,5,may,296.0,1,-1.0,0,unknown,no
27,52,entrepreneur,married,secondary,no,113.0,yes,yes,unknown,5,may,127.0,1,-1.0,0,unknown,no
28,46,management,single,secondary,no,-246.0,yes,no,unknown,5,may,255.0,2,-1.0,0,unknown,no
29,36,technician,single,secondary,no,265.0,yes,yes,unknown,5,may,348.0,1,-1.0,0,unknown,no
30,57,technician,married,secondary,no,839.0,no,yes,unknown,5,may,225.0,1,-1.0,0,unknown,no
31,49,management,married,tertiary,no,378.0,yes,no,unknown,5,may,230.0,1,-1.0,0,unknown,no
32,60,admin.,married,secondary,no,39.0,yes,yes,unknown,5,may,208.0,1,-1.0,0,unknown,no
33,59,blue-collar,married,secondary,no,0.0,yes,no,unknown,5,may,226.0,1,-1.0,0,unknown,no
34,51,management,married,tertiary,no,10635.0,yes,no,unknown,5,may,336.0,1,-1.0,0,unknown,no
35,57,technician,divorced,secondary,no,63.0,yes,no,unknown,5,may,242.0,1,-1.0,0,unknown,no
36,25,blue-collar,married,secondary,no,-7.0,yes,no,unknown,5,may,365.0,1,-1.0,0,unknown,no
37,53,technician,married,secondary,no,-3.0,no,no,unknown,5,may,1666.0,1,-1.0,0,unknown,no
38,36,admin.,divorced,secondary,no,506.0,yes,no,unknown,5,may,577.0,1,-1.0,0,unknown,no
39,37,admin.,single,secondary,no,0.0,yes,no,unknown,5,may,137.0,1,-1.0,0,unknown,no
40,44,services,divorced,secondary,no,2586.0,yes,no,unknown,5,may,160.0,1,-1.0,0,unknown,no
41,50,management,married,secondary,no,49.0,yes,no,unknown,5,may,180.0,2,-1.0,0,unknown,no
42,60,blue-collar,married,unknown,no,104.0,yes,no,unknown,5,may,22.0,1,-1.0,0,unknown,no
43,54,retired,married,secondary,no,529.0,yes,no,unknown,5,may,1492.0,1,-1.0,0,unknown,no
44,58,retired,married,unknown,no,96.0,yes,no,unknown,5,may,616.0,1,-1.0,0,unknown,no
45,36,admin.,single,primary,no,-171.0,yes,no,unknown,5,may,242.0,1,-1.0,0,unknown,no
46,58,self-employed,married,tertiary,no,-364.0,yes,no,unknown,5,may,355.0,1,-1.0,0,unknown,no
47,44,technician,married,secondary,no,0.0,yes,no,unknown,5,may,225.0,2,-1.0,0,unknown,no
48,55,technician,divorced,secondary,no,0.0,no,no,unknown,5,may,160.0,1,-1.0,0,unknown,no
49,29,Management,single,tertiary,no,0.0,yes,no,unknown,5,may,363.0,1,-1.0,0,unknown,no

In [8]:
# Renombrar las columnas #2
data.columns = ['edad',
              'trabajo',
              'estado_civil',
              'educacion',
              'incumplimiento',
              'saldo',
              'vivienda',
              'prestamo',
              'contacto',
              'dia',
              'mes',
              'duracion',
              'campaña',
              'dias_previos',
              'anterior',
              'resultado_prev',
              'respuesta']

print(data.columns)

Index(['edad', 'trabajo', 'estado_civil', 'educacion', 'incumplimiento',
       'saldo', 'vivienda', 'prestamo', 'contacto', 'dia', 'mes', 'duracion',
       'campaña', 'dias_previos', 'anterior', 'resultado_prev', 'respuesta'],
      dtype='object')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   edad            45215 non-null  int64
 1   trabajo         45213 non-null  object
 2   estado_civil    45214 non-null  object
 3   educacion       45214 non-null  object
 4   incumplimiento  45215 non-null  object
 5   saldo           45213 non-null  float64
 6   vivienda        45215 non-null  object
 7   prestamo        45215 non-null  object
 8   contacto        45215 non-null  object
 9   dia             45215 non-null  int64
 10  mes             45215 non-null  object
 11  duracion        45214 non-null  float64
 12  campaña         45215 non-null  int64
 13  dias_previos    45214 non-null  float64
 14  anterior        45215 non-null  int64
 15  resultado_prev  45215 non-null  object
 16  respuesta       45215 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 5.9+ MB

In [ ]:
#visualiza las primeras líneas de tu .csv

In [ ]:
#visualiza las variables categóricas y las numéricas

In [9]:
#clasificar columnas
categoricas = data.select_dtypes(include=['object']).columns.tolist()
numericas = data.select_dtypes(include=['int64', 'float64']).columns.tolist()
print("Columnas categóricas:", categoricas)
print("Columnas numéricas:", numericas)

Columnas categóricas: ['trabajo', 'estado_civil', 'educacion', 'incumplimiento', 'vivienda', 'prestamo', 'contacto', 'mes', 'resultado_prev', 'respuesta']
Columnas numéricas: ['edad', 'saldo', 'dia', 'duracion', 'campaña', 'dias_previos', 'anterior']

In [10]:
pd.value_counts(data['trabajo'])

<ipython-input-10-000f7d650d22>:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(data['trabajo'])

trabajo
blue-collar       9731
management        9455
technician        7599
admin.            5168
services          4153
retired           2263
self-employed     1578
entrepreneur      1487
unemployed        1303
housemaid         1240
student            938
unknown            288
administrative       3
Management           2
MANAGEMENT           2
Self-employed        1
Services             1
Retired              1
Name: count, dtype: int64

In [ ]:
#proporciona estadísticas descriptivas para columnas numéricas

## 4. Limpieza

Realizaremos el proceso de limpieza teniendo en cuenta las situaciones más comunes:

1. Datos faltantes en algunas celdas
2. Columnas irrelevantes (que no responden al problema que queremos resolver)
3. Registros (filas) repetidos
4. Valores extremos (*outliers*) en el caso de las variables numéricas. Se deben analizar en detalle pues no necesariamente la solución es eliminarlos
5. Errores tipográficos en el caso de las variables categóricas

Al final de este proceso de limpieza deberíamos tener un set de datos **íntegro**, listo para la fase de Análisis Exploratorio.

## 4.1 Datos faltantes

Acá comenzamos a ver que los datos no están completos, pues no todas las columnas tienen la misma cantidad de registros.

El número total de registros debería ser 45.215. Sin embargo columnas como "job", "marital", "education", "balance", "duration" y "pdays".

Por ser tan pocos los datos  faltantes optaremos por eliminar las filas correspondientes:

In [11]:
#Comando para contar los valores faltantes de mi dataframe
data.isna().sum()

edad              0
trabajo           2
estado_civil      1
educacion         1
incumplimiento    0
saldo             2
vivienda          0
prestamo          0
contacto          0
dia               0
mes               0
duracion          1
campaña           0
dias_previos      1
anterior          0
resultado_prev    0
respuesta         0
dtype: int64

In [12]:
#elimino los valores faltantes de mi dataframe
data.dropna(inplace=True)

#conteo de valores por columna de mi dataframe
data.count()

edad              45207
trabajo           45207
estado_civil      45207
educacion         45207
incumplimiento    45207
saldo             45207
vivienda          45207
prestamo          45207
contacto          45207
dia               45207
mes               45207
duracion          45207
campaña           45207
dias_previos      45207
anterior          45207
resultado_prev    45207
respuesta         45207
dtype: int64

##4.2 Columnas irrelevantes

Una columna irrelevante puede ser:

- **Una columna que no contiene información relevante para el problema que queremos resolver**. Por ejemplo en este caso podría ser una columna que no guarde relación con el posible perfil del cliente (deporte favorito, hobbies, comida favorita, etc.)
- **Una columna categórica pero con un sólo nivel**. Por ejemplo si en la columna "job" solo tuviésemos el nivel "unknown".
- **Una columna numérica pero con un sólo valor**. Por ejemplo si en la columna "edad" todos los valores fuesen iguales a 50.
- **Columnas con información redundante**. Por ejemplo si además de las columnas "month" y "day" tuviésemos la columna "month-day", resultado de combinar las dos anteriores.

Si tenemos la duda de si alguna columna puede ser relevante o no lo mejor es dejarla (y más adelante en posteriores etapas podremos darnos cuenta de si se debe preservar o no).

En este caso todas las columnas pueden resultar relevantes, pero debemos verificar que no haya columnas categóricas con un sólo nivel, o columnas numéricas con un sólo valor:

# **for col in cols_cat:**
Este es un bucle for que itera sobre cada elemento en la lista cols_cat. La variable col tomará el valor de cada elemento en cada iteración del bucle.

print(f'Columna {col}: {data[col].nunique()} subniveles'): Dentro del bucle, esta línea de código imprime un mensaje que indica el nombre de la columna (col), seguido por el número de subniveles únicos en esa columna.

f'Columna {col}: {data[col].nunique()} subniveles': Esta es una cadena de formato (f-string) que contiene dos variables:
{col}: Representa el nombre de la columna actual en la iteración del bucle.
{data[col].nunique()}: Representa el número de subniveles únicos en la columna actual. data[col] selecciona la columna actual del DataFrame y .nunique() calcula el número de valores únicos en esa columna.

In [13]:
# Conteo de los niveles en las diferentes columnas categóricas
cols_cat = ['trabajo', 'estado_civil', 'educacion', 'incumplimiento', 'vivienda',
       'prestamo', 'contacto', 'mes', 'resultado_prev', 'respuesta']

for col in cols_cat:
  print(f'Columna {col}: {data[col].nunique()} subniveles')

Columna trabajo: 18 subniveles
Columna estado_civil: 6 subniveles
Columna educacion: 10 subniveles
Columna incumplimiento: 2 subniveles
Columna vivienda: 2 subniveles
Columna prestamo: 6 subniveles
Columna contacto: 5 subniveles
Columna mes: 12 subniveles
Columna resultado_prev: 6 subniveles
Columna respuesta: 2 subniveles

In [14]:
#Conteo los valores
pd.value_counts(data['trabajo'])

<ipython-input-14-4a60e626e6a2>:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(data['trabajo'])

trabajo
blue-collar       9730
management        9454
technician        7597
admin.            5166
services          4153
retired           2263
self-employed     1578
entrepreneur      1487
unemployed        1303
housemaid         1240
student            938
unknown            288
administrative       3
Management           2
MANAGEMENT           2
Self-employed        1
Services             1
Retired              1
Name: count, dtype: int64

In [15]:
# prompt: cuente la cantidad de registros por subniveles por cada variable categorica

for col in cols_cat:
  print(f"\nConteo de registros por subnivel para la variable '{col}':")
  print(data[col].value_counts())

Conteo de registros por subnivel para la variable 'trabajo':
trabajo
blue-collar       9730
management        9454
technician        7597
admin.            5166
services          4153
retired           2263
self-employed     1578
entrepreneur      1487
unemployed        1303
housemaid         1240
student            938
unknown            288
administrative       3
Management           2
MANAGEMENT           2
Self-employed        1
Services             1
Retired              1
Name: count, dtype: int64

Conteo de registros por subnivel para la variable 'estado_civil':
estado_civil
married     27211
single      12786
divorced     5196
div.            7
Single          4
DIVORCED        3
Name: count, dtype: int64

Conteo de registros por subnivel para la variable 'educacion':
educacion
secondary    23192
tertiary     13301
primary       6848
unknown       1855
SECONDARY        3
Primary          2
sec.             2
UNK              2
Secondary        1
Tertiary         1
Name: count, dtype: int64

Conteo de registros por subnivel para la variable 'incumplimiento':
incumplimiento
no     44391
yes      816
Name: count, dtype: int64

Conteo de registros por subnivel para la variable 'vivienda':
vivienda
yes    25125
no     20082
Name: count, dtype: int64

Conteo de registros por subnivel para la variable 'prestamo':
prestamo
no     37956
yes     7241
No         5
YES        2
NO         2
Yes        1
Name: count, dtype: int64

Conteo de registros por subnivel para la variable 'contacto':
contacto
cellular     29278
unknown      13021
telephone     2902
phone            3
mobile           3
Name: count, dtype: int64

Conteo de registros por subnivel para la variable 'mes':
mes
may    13760
jul     6895
aug     6247
jun     5342
nov     3971
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: count, dtype: int64

Conteo de registros por subnivel para la variable 'resultado_prev':
resultado_prev
unknown    36954
failure     4900
other       1838
success     1509
UNK            4
Success        2
Name: count, dtype: int64

Conteo de registros por subnivel para la variable 'respuesta':
respuesta
no     39919
yes     5288
Name: count, dtype: int64

Todas las columnas categóricas tienen más de 1 subnivel. No eliminaremos ninguna.

Verifiquemos lo que ocurre con las columnas numéricas:

Todas las columnas numéricas tienen desviaciones estándar ("std") diferentes de cero, lo que indica que no tienen un único valor.

Preservaremos todas las columnas numéricas.

La **desviación estándar** es una medida que nos indica qué tan dispersos o alejados están los valores de un conjunto de datos respecto a su media o promedio. En otras palabras, nos ayuda a entender cuánto varían los valores individuales de un conjunto de datos con respecto a su valor promedio.

Imagina que tienes un conjunto de datos que representa las alturas de estudiantes en una clase. Si la desviación estándar es baja, significa que la mayoría de los estudiantes tienen alturas muy similares entre sí y cercanas a la altura promedio de la clase. Por otro lado, si la desviación estándar es alta, significa que las alturas de los estudiantes están muy dispersas, algunos son muy altos y otros muy bajos en comparación con la altura promedio.

Entonces, la desviación estándar nos da una idea de la dispersión o variabilidad de los datos alrededor de su promedio. Una desviación estándar baja indica que los datos están más agrupados alrededor del promedio, mientras que una desviación estándar alta indica que los datos están más dispersos o separados del promedio.

In [18]:
# Calcular la desviación estándar para las columnas numéricas
desviaciones_estandar = data[['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']].std()

# Imprimir las desviaciones estándar
print(desviaciones_estandar)

KeyError: "None of [Index(['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous'], dtype='object')] are in the [columns]"

In [ ]:
#desviacion estandar para la variable 'pdays'
destd_pdays = data[['pdays']].std()

# Imprimir las desviaciones estándar
print(destd_pdays)

In [ ]:
# Crear una gráfica de barras para representar las desviaciones estándar
desviaciones_estandar.plot(kind='bar')
plt.title('Desviación Estándar de las Variables Numéricas')
plt.xlabel('Variables')
plt.ylabel('Desviación Estándar')
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Graficar la desviación estándar de 'pdays'
plt.figure(figsize=(4, 2))  # Configura el tamaño de la figura
plt.bar('pdays', destd_pdays)  # Crea una barra para la desviación estándar de 'pdays'
plt.title('Desviación Estándar de pdays')
plt.ylabel('Desviación Estándar')
plt.show()

In [ ]:
# Calcula la media del atributo "pdays: dias de contacto al usuario antes de la campaña actual"
media = data['pdays'].mean()

print("Promedio de dias de contacto:", media)

In [ ]:
# Graficar un histograma del atributo "pdays"
plt.hist(data['pdays'], bins=20, color='skyblue', edgecolor='black')

# Agregar una línea vertical para mostrar la media
plt.axvline(media, color='red', linestyle='dashed', linewidth=1)

# Etiquetas y título
plt.xlabel('Valor de la pdays')
plt.ylabel('Frecuencia')
plt.title('Histograma de la pdays con Media')

# Mostrar la gráfica
plt.show()

##4.3 Filas repetidas

In [ ]:
#Mostramos la cantidad de registros antes de aplicar una transformación, limpieza o filtro
print(f'Tamaño del set antes de eliminar las filas repetidas: {data.shape}')
data.drop_duplicates(inplace=True)
#Mostramos la cantidad de registros después de aplicar una transformación, limpieza o filtro
print(f'Tamaño del set después de eliminar las filas repetidas: {data.shape}')

##4.4 *Outliers* en las variables numéricas

No siempre se deben eliminar los *outliers* porque dependiendo de la variable numérica analizada estos pueden contener información importante.

Creemos gráficas tipo "boxplot" de las columnas numéricas:

In [ ]:
# Generar gráficas individuales pues las variables numéricas
# están en rangos diferentes
cols_num = ['age', 'balance', 'day', 'duration', 'campaign',
            'pdays', 'previous']

fig, ax = plt.subplots(nrows=7, ncols=1, figsize=(8,30))
fig.subplots_adjust(hspace=0.5)

for i, col in enumerate(cols_num):
    sns.boxplot(x=col, data=data, ax=ax[i])
    ax[i].set_title(col)

**Observaciones:**
- "age": hay sujetos con edades mucho mayores a 100 años
- "duration": hay valores negativos
- "previous": hay un valor extremadamente alto (cercano a 300)

In [ ]:
# Eliminar filas con "age">100
print(f'Tamaño del set antes de eliminar registros de edad: {data.shape}')
data = data.drop(data[data['age'] > 100].index)
print(f'Tamaño del set después de eliminar registros de edad: {data.shape}')

In [ ]:
# Eliminar filas con "duration"<0
print(f'Tamaño del set antes de eliminar registros de duración: {data.shape}')
data = data.drop(data[data['duration'] < 0].index)
#data = data[data['duration']>0]
print(f'Tamaño del set después de eliminar registros de duración: {data.shape}')

In [ ]:
# Eliminar filas con "previous">100

##4.5 Errores tipográficos en variables categóricas

En una variable categórica pueden aparecer sub-niveles como "unknown" y "UNK" que para nosotros son equivalentes pero que para nuestro programa parecerían diferentes.

Se deben unificar estos sub-niveles

In [ ]:
# Graficar los subniveles de cada variable categórica
cols_cat = ['job', 'marital', 'education', 'default', 'housing',
       'loan', 'contact', 'month', 'poutcome', 'y']

fig, ax = plt.subplots(nrows=10, ncols=1, figsize=(10,30))
fig.subplots_adjust(hspace=1)

for i, col in enumerate(cols_cat):
  sns.countplot(x=col, hue=col, data=data, ax=ax[i], palette= 'colorblind', legend=False)
  ax[i].set_title(col)
  ax[i].tick_params(axis='x', labelrotation=30)

Inicialmente se observa que hay sub-niveles con el mismo nombre pero escritos en minúscula, en mayúscula o con la primera letra en mayúscula.

Unifiquemos estos sub-niveles inicialmente:

In [ ]:
for column in data.columns:
#Representar en minúsculas sólo si la columna es categórica
    if column in cols_cat:
        data[column] = data[column].str.lower()

#generemos las gráficas nuevamente
fig, ax = plt.subplots(nrows=10, ncols=1, figsize=(10,30))
fig.subplots_adjust(hspace=1)

for i, col in enumerate(cols_cat):
  sns.countplot(x=col, hue=col, data=data, ax=ax[i], palette='colorblind', legend=False)
  ax[i].set_title(col)
  ax[i].tick_params(axis='x', labelrotation=30)

In [ ]:
# job: unificar admin. y administrative
print(data['job'].unique())
data['job'] = data['job'].str.replace('admin.','administrative', regex=False)
print(data['job'].unique())

In [ ]:
# marital: unificar div. y divorced
print(data['marital'].unique())
data['marital'] = data['marital'].str.replace('div.','divorced', regex=False)
print(data['marital'].unique())

In [ ]:
# education: unificar sec. y secondary, unk y unknown
print(data['education'].unique())
data['education'] = data['education'].str.replace('sec.','secondary', regex=False)
data.loc[data['education']=='unk','education'] = 'unknown'
print(data['education'].unique())

In [ ]:
# contact: unificar telephone y phone
print(data['contact'].unique())
data.loc[data['contact']=='phone','contact'] = 'telephone'
data.loc[data['contact']=='mobile','contact'] = 'cellular'
print(data['contact'].unique())

In [ ]:
# poutcome: unificar unk y unknown
print(data['poutcome'].unique())
data.loc[data['poutcome']=='unk','poutcome']='unknown'
print(data['poutcome'].unique())

In [ ]:
#Edad(age) promedio(mean) de los clientes interesados en adquirir un certificado de depósito(y)
edad_promedio_interesados = data[data['y'] == 'yes']['age'].mean()
print("1. Edad promedio de los clientes interesados:", edad_promedio_interesados)

In [ ]:
#Diferencia de ingresos entre clientes interesados y no interesados:
sns.boxplot(x='y', y='balance', data=data)
plt.title('Diferencia de saldo promedio anual entre clientes interesados y no interesados')
plt.show()

In [ ]:
#Distribución de estado civil entre clientes interesados:
sns.countplot(x='y', hue='marital', data=data)
plt.title('Distribución de estado civil entre clientes interesados y no interesados')
plt.show()

In [ ]:
#Distribución medio de contacto de los clientes interesados:
plt.figure(figsize=(10, 6))
sns.countplot(x='contact', hue='y', data=data)
plt.title('Distribución de medio de contacto entre clientes interesados')
plt.show()

In [ ]:
#Tipo de ocupación de los clientes interesados:
sns.countplot(y='job', hue='y', data=data)
plt.title('Tipo de ocupación de los clientes interesados')
plt.show()

In [ ]:
#Patrón temporal en los contactos que conducen a una mayor conversión de clientes:
sns.countplot(x='month', hue='y', data=data)
plt.title('Patrón temporal en los contactos que conducen a una mayor conversión')
plt.show()


## Uso de libreria pygwalker

https://docs.kanaries.net/es/pygwalker

https://nicolasurrego.medium.com/visualizaci%C3%B3n-avanzada-de-datos-descubre-el-poder-de-pygwalker-en-python-9d708724ddatab

In [ ]:
#Instalación de librería
!pip install pygwalker

In [ ]:
#Importo la librería con el alias
import pygwalker as pyg

In [ ]:
data['Grupo_Edad'] = pd.cut(data['age'], bins=[0, 18, 30, 45, 60], labels=['0-18', '19-30', '31-45', '46-60'])

In [ ]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,Grupo_Edad
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261.0,1,-1.0,0,unknown,no,46-60
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151.0,1,-1.0,0,unknown,no,31-45
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76.0,1,-1.0,0,unknown,no,31-45
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1,-1.0,0,unknown,no,46-60
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198.0,1,-1.0,0,unknown,no,31-45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45210,51,technician,married,tertiary,no,825.0,no,no,cellular,17,nov,977.0,3,-1.0,0,unknown,yes,46-60
45211,71,retired,divorced,primary,no,1729.0,no,no,cellular,17,nov,456.0,2,-1.0,0,unknown,yes,NaN
45212,72,retired,married,secondary,no,5715.0,no,no,cellular,17,nov,1127.0,5,184.0,3,success,yes,NaN
45213,57,blue-collar,married,secondary,no,668.0,no,no,telephone,17,nov,508.0,4,-1.0,0,unknown,no,46-60
45214,37,entrepreneur,married,secondary,no,2971.0,no,no,cellular,17,nov,361.0,2,188.0,11,other,no,31-45

In [ ]:
#Lectura de dataset con librería
pyg.walk(data)

Box(children=(HTML(value='\n<div id="ifr-pyg-0006235ffe408d8avTg4QVz0x3uhU796" style="height: auto">\n    <hea…

## Guardar el resultado de análisis en el Drive

In [ ]:
#importo la libreria os
import os

In [ ]:
# Definir la ruta de la carpeta en Google Drive
folder_path_destino = '/content/drive/MyDrive/RUTA_DESTINO_ARCHIVO_CSV'